<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% block title %}

    {% endblock title %}

    <style>
      .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
    </style>
  
  </head>
  <body>

    {% include 'navbar.html' %}
    {% block main%}
     <div class="row">


    {% for obj in objs %}
        <div class="card" style="width: 18rem; padding: 2rem; margin: 2rem;">
          <img src="{{obj.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{obj.name}}</h5>
              <p class="card-text">{{obj.description}}</p>
              <div class="row">
              <button type="button" class="btn btn-secondary" onclick="Increment('{{obj.id}}')"><i class="bi bi-cart-plus-fill"></i> Add</button>
              <p id='{{obj.id}}' style="text-align: center;">0</p>
              <button type="button" class="btn btn-secondary" onclick="Decrement('{{obj.id}}')"> <i class="bi bi-cart-dash-fill"></i>Remove</button>
          </div>
      </div>
    </div>

    {% endfor%}
  
    {% endblock main%}


    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script type="text/javascript">
      function Increment(id) {
        // body...
        
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/add/", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status != 200) {
            alert('Server error please add item again !');
        }
        if(this.status == 200 && this.readyState == 4){
          document.getElementById('lblCartCount').innerHTML = parseInt(document.getElementById('lblCartCount').innerHTML) + 1; 
          document.getElementById(id).innerHTML = parseInt(document.getElementById(id).innerHTML) + 1; 
        }
        };
        xhttp.send("id="+id);
      }

      function Decrement(id) {
        // body...
        if (parseInt(document.getElementById(id).innerHTML) > 0){
            
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/delete/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onreadystatechange = function() {
                 if (this.readyState == 4 && this.status != 200) {
                  alert('Server error please Delete item again !');
              // 4: request finished and response is ready
                }
                if(this.status == 200 && this.readyState == 4){
                  document.getElementById(id).innerHTML = parseInt(document.getElementById(id).innerHTML) - 1;           
                  document.getElementById('lblCartCount').innerHTML = parseInt(document.getElementById('lblCartCount').innerHTML) - 1; 

                }
            };
            
            xhttp.send("id="+id);
          }
        
      }
    </script>
  </body>
</html>