<!-- Footer -->
<footer style="background-color: #5D534A;">

  <!-- Footer Text -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 text-white">
        <h5>Social media</h5>
        <ul>
          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">twiter</a></li>
          <li><a href="">whatsup</a></li>
          
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-4 text-white">

       <h5>telephone</h5>
       <p>235689412</p>
       
       <h5>Email</h5>
       <p>something@gmail.com</p>
      </div>
      <div class="col-md-4 text-white">
        <h5>Address </h5>
        <p>
          14 maruti nagar dadi ka phatak benar road jaipur 302012
        </p>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="row ">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <p>raghavatreya16@gmail.com</p>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->